# fly.toml app configuration file generated for neighbourly-api-wild-water-7268 on 2026-01-12T02:04:32Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'neighbourly-api-wild-water-7268'
primary_region = 'lhr'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
